In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
cars_df = pd.read_csv("/content/cars_data.csv")

In [3]:
cars_df.head()

    Make           Model   Type Origin  ... MPG_Highway Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...          23   4451       106     189
1  Acura  RSX Type S 2dr  Sedan   Asia  ...          31   2778       101     172
2  Acura         TSX 4dr  Sedan   Asia  ...          29   3230       105     183
3  Acura          TL 4dr  Sedan   Asia  ...          28   3575       108     186
4  Acura      3.5 RL 4dr  Sedan   Asia  ...          24   3880       115     197

[5 rows x 15 columns]

In [4]:
cars_df['Make'].nunique()

38

In [6]:
cars_df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Hyundai          12
Volvo            12
Jaguar           12
Lexus            11
Kia              11
Mazda            11
Pontiac          11
Subaru           11
Lincoln           9
Buick             9
Mercury           9
GMC               8
Saturn            8
Infiniti          8
Suzuki            8
Cadillac          8
Porsche           7
Saab              7
Acura             7
Jeep              3
Oldsmobile        3
Land Rover        3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Make, dtype: int64

In [6]:
cars_df.shape

(428, 15)

In [7]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 50.3+ KB

In [8]:
cars_df.isna().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [9]:
cars_df=cars_df.dropna()

In [10]:
cars_df['MSRP']=cars_df['MSRP'].str.replace('$','')

In [11]:
cars_df['MSRP']=cars_df['MSRP'].str.replace(',','')

In [12]:
cars_df['MSRP']=cars_df['MSRP'].astype(int)

In [13]:
cars_df.drop(['Invoice'],axis=1,inplace=True)

In [14]:
cars_df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight  Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...          23    4451        106     189
1  Acura  RSX Type S 2dr  Sedan   Asia  ...          31    2778        101     172
2  Acura         TSX 4dr  Sedan   Asia  ...          29    3230        105     183
3  Acura          TL 4dr  Sedan   Asia  ...          28    3575        108     186
4  Acura      3.5 RL 4dr  Sedan   Asia  ...          24    3880        115     197

[5 rows x 14 columns]

In [15]:
cat_cols = cars_df.select_dtypes(['object']).columns

In [16]:
cat_cols

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain'], dtype='object')

In [17]:
for col in cat_cols:
  dummy = pd.get_dummies(cars_df[col],prefix=col)
  cars_df = pd.concat([cars_df,dummy],axis=1)
  del cars_df[col]
  print(col)
  
del dummy

Make
Model
Type
Origin
DriveTrain

In [18]:
cars_df.shape

(426, 482)

In [19]:
X = cars_df.drop('MSRP',axis=1)
y = cars_df['MSRP']

In [20]:
X = np.array(X)
y = np.array(y)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
rf = RandomForestRegressor(n_estimators=100,max_depth=5,random_state=42)

In [26]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [27]:
preds = rf.predict(X_test)

In [32]:
np.sqrt(mean_squared_error(y_test,preds))

6170.1579407519175

In [33]:
rf.score(X_test,y_test)

0.859300409159617

Using XGBoost Regressor

In [24]:
from xgboost.sklearn import XGBRegressor

In [25]:
xgb = XGBRegressor(objective='reg:linear',n_estimators=100,learning_rate=0.1,random_state=42)

In [26]:
xgb.fit(X_train,y_train)

[17:54:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [27]:
pred_xgb = xgb.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
np.sqrt(mean_squared_error(y_test,pred_xgb))

5282.756654572625

In [30]:
xgb.score(X_test,y_test)

0.896861340169869

In [31]:
pred_xgb

array([ 58607.074,  21955.31 ,  25929.846,  31547.473,  28684.15 ,
        15988.575,  15344.845,  20628.664,  24989.871,  17006.904,
        42282.184,  15631.675,  67734.41 ,  75401.836,  70130.44 ,
        33142.56 , 126815.91 ,  23657.656,  37487.832,  27285.44 ,
        52365.71 ,  39773.484,  47718.86 ,  45442.258,  21069.352,
        76698.67 ,  19860.51 ,  20946.65 ,  43953.94 ,  64941.3  ,
        19594.043,  64819.844,  22831.025,  23321.799,  31128.998,
        32241.78 ,  40591.08 ,  17293.734,  26089.941,  38959.605,
        37579.14 ,  20631.637,  22882.865,  18248.363,  36910.15 ,
        21048.635,  27125.262,  24711.945,  36887.133,  30490.814,
        39934.33 ,  44525.01 ,  14472.663,  42697.953,  52483.18 ,
        30135.879,  30924.57 ,  49465.094,  34222.51 ,  51875.418,
        19907.404,  16844.262,  24711.945,  19525.344,  19896.662,
        55758.184,  15344.845,  33777.5  ,  21541.746,  63971.523,
        15344.845,  40322.832,  33033.973,  31287.55 ,  40464.344,
        76127.82 ,  39998.047,  34888.95 ,  18711.205,  31819.87 ,
        30022.207,  41787.277,  37182.94 ,  15303.326,  40061.062,
        62998.145,  17713.725,  26796.062,  32121.533,  31128.998,
        38513.547,  26831.28 ,  21541.746,  29215.525,  26896.053,
        25803.111,  28939.748,  14472.663,  40920.55 ,  32633.729,
        17006.904,  15344.845,  15701.745,  38851.06 ,  40591.08 ,
        18299.9  ,  32284.438,  28470.084,  40323.605,  68798.414,
        27305.236,  41617.84 ,  24465.71 ,  21722.592,  38579.7  ,
        19517.615,  18375.098,  66973.195,  29845.123,  26896.053,
        15344.845,  15344.845,  40555.125,  26896.053,  15988.575,
        38526.543,  24711.945,  26204.586], dtype=float32)

In [32]:
X_test

array([[  2.5,   5. , 300. , ...,   1. ,   0. ,   0. ],
       [  3.4,   6. , 180. , ...,   0. ,   1. ,   0. ],
       [  3.5,   6. , 194. , ...,   0. ,   1. ,   0. ],
       ...,
       [  5.6,   8. , 305. , ...,   0. ,   1. ,   0. ],
       [  2.7,   6. , 200. , ...,   0. ,   1. ,   0. ],
       [  3.3,   6. , 180. , ...,   0. ,   1. ,   0. ]])

In [33]:
import pickle

In [34]:
pickle_out = open("XGB_Cars.pkl","wb")
pickle.dump(xgb,pickle_out)

In [3]:
model = pickle.load(open("/content/XGB_Cars.pkl","rb"))

[17:47:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.